
{% extends "layout.html" %}

{% block content %}

<div class="row">
{% for album in albums %}
<div class="col-sm-4">                     
            <a href="{{url_for('getAlbum', title=album.get('title'))}}">
                <img class="img-thumbnail" src=" {{url_for('getImageThumbnail', filename=album.get('coverPhoto'))}}">
                <div class="caption">
                        <p>{{ album.get('title') }}</p>
                </div>
            </a>
</div>   
{% endfor %}
</div>
{% endblock content %}